body {
    text-align: center;
}

header {
  height: 75px;
  background-color: #B158BE;
}

h1 {
  margin: 0;
  padding-top: 15px;
  color: white;
}

h2 {
  margin: 0;
  padding-top: 10px;
}

.left {
  width: 25%;
  float: left;
}

#main {
  width: 50%;
  float: left;
}

#main button, #game-button {
  padding: 5px;
  background-color: #66D754;
  border-radius: 15%;
  z-index: 10;
}

#main canvas {
  margin: 0 auto;
  margin-top: -40px;
}

.right {
  width: 25%;
  float: right;
}

ul {
  list-style: none;
}

ul li, div {
  display: inline;
}

.crop {
  height: 101px;
  width: 101px;
  overflow: hidden;
}

.crop img {
  height: 171px;
  width: 101px;
  margin-top: -50px;
}

/*ul li #active {
  background: rgba(255,0,0,0.1);
}*/
