body {
  font-family: 'Averia Libre', cursive;
  text-align: center;
}

header {
  height: 75px;
  background-color: #B158BE;
}

h1 {
  margin: 0;
  padding-top: 15px;
  color: white;
}

h2 {
  margin: 0;
  padding-top: 10px;
}

#startScreen {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 606px;
  width: 505px;
  background-color: red;
}

#startButton {
  font-size: 1.5em;
  padding: 40px;
  margin-top: 150px;
  border-radius: 5px;
  background-color: #00EC00;
}

#scoreInfo {
  box-sizing: border-box; /* border, padding and margin are included in width! */
  float: left;
  width: 505px;
  margin-top: 50px;
  padding: 50px;
  font-size: 20px;
  font-weight: bold;
}

aside.left, aside.right {
  padding-top: 75px;
  width: 25%;
}

.left {
  float: left;
}

.right {
  float: right;
}

#main {
  width: 50%;
  float: left;
}

#main img {
  display: none;
  float: right;
}

#main canvas {
  margin: 0 auto;
  margin-top: -40px;
}

#score, #timer {
  margin: 0 25px;
}

#players {
  width: 70%;
  margin: 0 auto;
}

#players h2 {
  margin-bottom: 50px;
}

.crop {
  float: left;
  height: 30%;
  overflow: hidden;
  border-radius: 100%;
}

.crop img {
  height: 100%;
  margin-top: -40px;
  margin-bottom: -10px;
}

table {
  margin: 25px 0 0 15px;
  font-size: 0.9em;
}

td:nth-of-type(2) {
  padding-left: 15px;
  text-align: left;
}

.small {
  height: 30%;
  overflow: hidden;
}

.small img {
  height: 40%;
  margin-top: -20px;
}

footer {
  clear: both;
  background-color: lightgrey;
  padding: 20px;
  font-size: 0.7em;
}